html, body, .container {
  height: 100%;
}

body {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.loading {
  display: table;
  height: 100%;
  width: 100%;
}

div.loading p {
  display: table-cell;
  vertical-align: middle;
}

h1 {
  font-weight: 700;
}

select {
  margin: 0 0.25em;
}

video {
  margin: 2em auto;
  width: 100%;
}

@keyframes text-tuning {
  from { color: black; }
  to { color: #8a6d3b; }
}

@keyframes text-buffering {
  from { color: black; }
  to { color: #337ab7; }
}

.hyp-tuning {
  animation: text-tuning 0.5s alternate infinite;
}

.hyp-buffering {
  animation: text-buffering 1s alternate infinite;
}
