body {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-weight: 700;
}

select {
  margin: 0 0.25em;
}

video {
  display: none;
  margin: 2em auto;
  width: 100%;
}

.hyp-error {
  display: none;
}

@keyframes text-tuning {
  from { color: black; }
  to { color: #8a6d3b; }
}

@keyframes text-buffering {
  from { color: black; }
  to { color: #337ab7; }
}

.hyp-tuning {
  animation: text-tuning 0.5s alternate infinite;
}

.hyp-buffering {
  animation: text-buffering 1s alternate infinite;
}
