<!DOCTYPE html>
<html>
  <head>
    <title>hypcast</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container" id="hypcast-app">
      <div class="loading">
        <p class="lead text-center text-muted">hypcast is loading&hellip;</p>
      </div>
    </div>
  </body>
</html>
