// Endpoints for video player transitions (for internal mixin use)

.playerClosed {
  position: relative;
  left: 50%;
  width: 0;
  opacity: 0;
}

.playerOpen {
  position: relative;
  left: 0;
  width: 100%;
  opacity: 1;
}

// Class definitions for CSSTransition (for external use)

.enter {
  .playerClosed;
}

.enterActive {
  .playerOpen;
  transition: all 350ms ease-out;
}

.exit {
  .playerOpen;
}

.exitActive {
  .playerClosed;
  transition: all 350ms ease-in;
}
